body {
  margin: 0;
  /* background-color: goldenrod; */
  /* background image: url */
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F547609635941186167%2F&psig=AOvVaw1DwH5mIjy5oiavA-b_6dx6&ust=1626904047771000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPi31fzP8vECFQAAAAAdAAAAABADresize=2000:*');
}

.box {
  display: flex;
  flex-direction: column;
}

.dataRows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 40vh;
  justify-content: space-around;
}

.box {
  border-radius: 25px;
}
#demo-customized-select-native {
  min-width: 90px;
}